{#
TODO: reuse your unit from Lab 1
TODO: Path to jar should use variables {{ app_dir }}/{{ app_file }}
TODO: Environment variable for PORT should use value from variable {{ app_port }}
#}
[Unit]
Description=P3
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
ExecStart=java -jar {{ app_dir }}/{{ app_file }}
User=demon
Restart=always
RestartSec=10
Environment=PORT={{ app_port }}
